/* Add your styles here */
body
{
    margin-left:auto;
    margin-right:auto;
    padding-left:20%;
    padding-right:20%;
    color: #43593F;
    background-color: #EFD9D1;
    text-align: center;
    list-style-type: none;
}
h1
{
    color: #919F89;
}

input
{
    background-color: #F1EBE4;
}
