/* Add your styles here */
body
{
    max-width: 100%;
    margin: 25%;
    color: #43593F;
    background-color: #EFD9D1;
    outline-style: double;
    outline-color: #919F89;
    outline-width: 15px;
}
h1
{
    color: #919F89;
    outline-style: double;
    outline-color: #919F89;
    outline-width: 15px;
}

input
{
    background-color: #F1EBE4;
}
